BR2_arm=y
BR2_cortex_a8=y
BR2_WGET="wget --passive-ftp -nd -t 3 --no-check-certificate"
BR2_TOOLCHAIN_EXTERNAL=y
# BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD is not set
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/CodeSourcery"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mfpu=neon -ftree-vectorize -mfloat-abi=softfp"
BR2_TARGET_GENERIC_GETTY_PORT="ttyO2"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACONF=y
BR2_PACKAGE_ALSA_UTILS_AMIDI=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_IECSET=y
BR2_PACKAGE_ALSA_UTILS_ACONNECT=y
BR2_PACKAGE_ALSA_UTILS_APLAYMIDI=y
BR2_PACKAGE_ALSA_UTILS_ARECORDMIDI=y
BR2_PACKAGE_ALSA_UTILS_ASEQDUMP=y
BR2_PACKAGE_ALSA_UTILS_ASEQNET=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_GZIP=y
BR2_PACKAGE_OPROFILE=y
BR2_PACKAGE_VALGRIND=y
BR2_PACKAGE_TAR=y
BR2_PACKAGE_DIRECTFB=y
BR2_PACKAGE_DIRECTB_TESTS=y
BR2_PACKAGE_LIBV4L=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_SQLITE_READLINE=y
BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_LIBGTK2=y
BR2_PACKAGE_OPENCV=y
BR2_PACKAGE_OPENCV_JPEG=y
BR2_PACKAGE_OPENCV_TIFF=y
BR2_PACKAGE_OPENCV_LIBPNG=y
BR2_PACKAGE_OPENCV_LIBGTK2=y
BR2_PACKAGE_OPENCV_LIBV4L=y
BR2_PACKAGE_EMAIL=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_PORTMAP=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_LOGROTATE=y
BR2_PACKAGE_MC=y
BR2_PACKAGE_MONIT=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_MODULE_INIT_TOOLS=y
BR2_PACKAGE_NANO=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="omap3_beagle"
BR2_TARGET_UBOOT_EXTRAVERSION="-mg00.1"
BR2_TARGET_UBOOT_TOOL_ENV=y
# BR2_TARGET_UBOOT_NETWORK is not set
BR2_TARGET_UBOOT_DEFAULT_UENV=y
BR2_TARGET_XLOADER=y
BR2_TARGET_XLOADER_BOARDNAME="omap3beagle"
BR2_TARGET_XLOADER_EXTRAVERSION="-mg00.1"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="board/beagleboard/xm/kernel-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/beagleboard/xm/linux-2.6.39.1.config"
