BR2_arm=y
BR2_cortex_a8=y
BR2_TOOLCHAIN_EXTERNAL=y
# BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD is not set
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/CodeSourcery"
# BR2_SOFT_FLOAT is not set
BR2_TARGET_OPTIMIZATION="-pipe -mfpu=neon -ftree-vectorize -mfloat-abi=softfp"
BR2_TARGET_GENERIC_GETTY_PORT="ttyO2"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="omap3_beagle"
BR2_TARGET_UBOOT_EXTRAVERSION="-mg01"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_MLO=y
BR2_TARGET_UBOOT_UENV_PARAMETERS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_PATCH="board/beagleboard/xm/kernel-patches/"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/beagleboard/xm/linux-3.2.7.config"
